pipeline/PL_RAW_DATA.json
{
	"name": "PL_RAW_DATA",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_SQL_TRIGGER_DB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT L2_switch_type \r\nFROM dbo.vb_tbl_job a\r\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\r\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZ_SQL_Input",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch_Source",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LOOKUP_SQL_TRIGGER_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LOOKUP_SQL_TRIGGER_DB').output.firstRow.L2_switch_type ",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CloudStorage",
							"activities": [
								{
									"name": "Execute_Azure_Cloud_Storage_CSV_EXCEL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CLOUDSG_AZURE",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "API",
							"activities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "sql",
							"activities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "sftp",
							"activities": [
								{
									"name": "Wait4",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "snowflake1",
							"activities": [
								{
									"name": "Wait5",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "json",
							"activities": [
								{
									"name": "Wait6",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "bulk",
							"activities": [
								{
									"name": "Wait7",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-04T15:07:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}